<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
</head>
<body>


<link rel="stylesheet" href="static/css/style.css">
<div>
    <a href="http://127.0.0.1:5000/logout" class="small-gradient-button">Logout</a>
</div>

<div class="card">
    <img src="static/images/{{avatar}}" alt="Daniil" style="width:100%">
    <h1>{{name}} {{surname}}</h1>
    <p class="title">ITMO University</p>
    <p class="title">{{year}}-year student</p>
    <a href="https://daniilnikolaevich.github.io" class="gradient-button">GitHub Pages</a>

</div>
</body>
</html>